<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="join">Unirse a la sala</button>
    
    <div id="root"></div>

    <form>
        <input id="input-message" type="text">
        <button id="send-message">Enviat</button>

        <script src="{{url_for('static', filename='socket.io.min.js')}}"></script>
        <script src="{{url_for('static', filename='index.js')}}"></script>
    </form>
</body>
</html>